{% extends "base.html" %}

{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 form-control mb-3">
            {% if is_edit %}
            <h1>Edit Application</h1>
            <p>Here you can edit the details of the application below.</p>
            {% else %}

            <h1>TA Application Form</h1>
            <p>Apply for a teaching assistant position in Northern University!</p>
            {% endif %}

            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert {{ 'alert-danger' if category == 'error' else 'alert-info' }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}


            {{ render_form(form, novalidate=True) }}


        </div>
    </div>
</div>
{% endblock %}
