{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Graduate Teaching Assistant Management
                System</h1>
            <p class="col-lg-10 fs-4">Please login with your North University user ID.
            <hr>
            <!--            <small class="text-body-secondary"></small>-->
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" action="{{url_for('home')}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <h4 class="h3 mb-3 fw normal text-center">Log in</h4>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                           name="email">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                           name="password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>

                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert {{ 'alert-danger' if category == 'error' else 'alert-info' }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                <hr class="my-4">
                <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
                <br>
                <small class="text-body-primary">Not registered? Click <a href="{{url_for('signup')}}"
                                                                            class="text-body-secondary">Sign
                    Up</a></small>
            </form>
        </div>
    </div>
</div>
{% endblock %}